doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/frontPage.css")
        title Players
    body
    p Amount: #{players.length} 
        table
            thead 
                tr 
                    th Player(Fut.gg) 
                    th Rating
                    th CLUB
                    th LEAGUE
                    th AGE
                    th Player(My page)
            tbody 
                each player in players 
                    tr 
                        td 
                            a(href=player.url, target="_blank")= player.name
                        td= player.overall
                        td= player.club
                        td= player.league
                        td= player.age
                        td(class="playerName", playerItemID=player.itemID)
                            a(href=`${player.itemID}`, target="_blank") #{player.name}